/* Structure */
html {
    overflow-y: scroll;
}
body{
    background: url(../media/background.png) 0 0;
    font-size: 14px;
    font-family: Verdana, Tahoma, sans-serif;
}
header h1{
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    font-family: geoFont, Verdana, Tahoma, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
header h1 a{
    color: inherit;
    text-decoration: inherit;
}
section {
    margin-left: 5px;
    margin-right: 5px;    
    border-bottom: 1px solid black;
}
section h1 {
    text-align: center;
}
article{
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid black;
}
article ul {
    list-style-type: none;
}
footer {
    background-color: #FFC778;
    text-align: center;
}
img {
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 100%;
}


/* Nav bar */
header nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
    width: 100%;
    color: black;
    background-color: #FFC778;
}
header nav ul li{
    display: inline;
}
header nav ul li a {
    float: left;
    width: 5.1 em;
    color: black;
    background-color: #FFC778;
    padding: 1.1em 1em;
    text-decoration: none;
}
header nav ul li a:hover{
    background-color: #CC7800;
    color: #fff;
}

/* Classes */
.bg {
    background-color: #FF9600;
    margin: auto;
    float: left;
    width: 100%;
}
.mockup {
    max-width: 700px;
}

/* ids */
#wrapper {
    width: 95%;
    max-width: 920px;
    margin: auto;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}
li#currentPage a{
    background-color: #CC7800;
}

/* Media Queries */
@font-face{
    font-family: geoFont;
    src: url(../media/Square.ttf) format("truetype");
}
@media screen and (max-width: 480px){
    
}
